<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EcoMeal</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="restaurants">
                <span class="bi bi-egg" aria-hidden="true"></span> Restaurants
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="business/create">
                <span class="bi bi-egg" aria-hidden="true"></span> Create Business
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="package/create">
                <span class="bi bi-egg" aria-hidden="true"></span> Create Package
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="account/login">
                <span class="bi bi-egg" aria-hidden="true"></span> Login
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="account/register">
                <span class="bi bi-egg" aria-hidden="true"></span> Register
            </NavLink>
        </div>
    </nav>
</div>

