@page "/counter"
@using EcoMeal.Controllers
@using EcoMeal.Database.Entities
@using EcoMeal.Constants
@using Microsoft.AspNetCore.Authorization
@rendermode InteractiveServer
@inject BusinessController BusinessController
@attribute [Authorize(Roles = AppRoles.Admin)]

@if (businesses is null || businesses.Count == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table"">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Description</th>
                <th>Type</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var business in businesses)
            {
                <tr>
                    <td>@business.Name</td>
                    <td>@business.Address</td>
                    <td>@business.Description</td>
                    <td>@business.type.Name</td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private int currentCount = 0;
    private List<Business> businesses = new List<Business>();

    protected override async Task OnInitializedAsync()
    {
        businesses = (await BusinessController.GetAll()).Value;
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
